# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=grilnica

# Security (сгенерируйте новые значения!)
SECRET_KEY=secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
DEBUG=False
API_V1_PREFIX=/api/v1
PROJECT_NAME=Grilnica
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]